


  
 

  
  
  
  
  /* -----------------------------------------------------
     4) Main Content
     ----------------------------------------------------- */
  
  
  /* Fade-out class for transitions */
  .fade-out {
    opacity: 0;
  }

  .container {
    max-width: 800px; /* Adjust as needed */
    width: 90%; /* Responsive: scales down nicely on smaller screens */
    margin: 0 auto; /* Centers horizontally */
    padding-left: 2rem; /* Adjust padding to your taste */
    padding-right: 2rem; /* Adjust padding to your taste */
    box-sizing: border-box; /* Includes padding in total width */
  }

  .centered {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  
  
  

  .box {
    flex:1; 
  }

  


  
@media (max-width: 768px) {

  

  img {
    max-width: 100%;
    height: auto;
  }

  * {
    overflow-wrap: break-word;
    box-sizing: border-box;
  }
}

@media (max-width: 480px) {

  .container, .section {
    padding: var(--spacing-xs);
    margin: 0 auto;
  }


  .flex-container {
    flex-direction: column;
    gap: var(--spacing-xs);
  }

  
}


/*sections */

